.container1{
    display: flexbox;
    flex-direction: column;
    border-radius: 30px;
    position: absolute;
    padding: 50px 10px 10px 40px;
    background-color: darkgray;
    top:50%;
    left:50%;
    transform: translate(-40%,-40%);
    height:200px;
    width:300px;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 4px black ;
}
.button1{
    width:129px;
    padding: 5px 5px 5px 5px ;
    background-color: beige;
    border-color: white;
    color: black;
    border-radius:5px ;
    margin: 15px 5px 5px 65px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.inputs{
    padding: 5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    border-radius: 5px;
    width: 250px;
    border-color: bisque;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}